In [ ]:
import pymongo

In [ ]:
# stringa di connessione 3.4 recuperata da Atlas https://www.mongodb.com/cloud/atlas/register
client = pymongo.MongoClient(
    "mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.sample_supplies # nome del database

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame(list(db.sales.find()))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod,costumer
0,5bd761dcae323e45a93cd005,None,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 81, 'email': 'me@lih.st...",False,Phone,{'age': 24}
1,5bd761dcae323e45a93cd025,None,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 89, 'email': 'hegbif@lu...",False,Online,{'age': 24}
2,5bd761dcae323e45a93cd015,None,"[{'name': 'notepad', 'tags': ['office', 'writi...",Seattle,"{'gender': 'M', 'age': 84, 'email': 'apokas@mi...",False,Online,{'age': 24}
3,5bd761dcae323e45a93cd0c4,None,"[{'name': 'notepad', 'tags': ['office', 'writi...",Seattle,"{'gender': 'M', 'age': 75, 'email': 'jul@oruso...",False,In store,{'age': 24}
4,5bd761dcae323e45a93cd04f,None,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 77, 'email': 'ewha@oc.k...",False,In store,{'age': 24}
...,...,...,...,...,...,...,...,...
308,5bd761deae323e45a93ce1fa,None,"[{'name': 'binder', 'tags': ['school', 'genera...",Austin,"{'gender': 'M', 'age': 80, 'email': 'ducifes@j...",False,Online,{'age': 24}
309,5bd761deae323e45a93ce343,None,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 76, 'email': 'miwacpe@b...",False,Online,{'age': 24}
310,5bd761deae323e45a93ce2ac,None,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 79, 'email': 'ir@rartaw...",False,Online,{'age': 24}
311,5bd761deae323e45a93ce34b,None,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 79, 'email': 'beihadu@k...",False,In store,{'age': 24}
312,5bd761deae323e45a93ce23e,None,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'F', 'age': 82, 'email': 'dujum@kep...",False,In store,{'age': 24}

In [ ]:
client = pymongo.MongoClient(
"mongodb://FranzettiGiulio:WWWWS7sN@cluster0-shard-00-00.njfds.mongodb.net:27017,cluster0-shard-00-01.njfds.mongodb.net:27017,cluster0-shard-00-02.njfds.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-zl2n0m-shard-0&authSource=admin&retryWrites=true&w=majority")
db2 = client.sample_supplies

In [ ]:
db2.sales.insert_many(df.to_dict("records"))

BulkWriteError: ignored

In [ ]:
df=pd.DataFrame(list(db2.sales.find()))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,"[{'name': 'printer paper', 'tags': ['office', ...",Denver,"{'gender': 'M', 'age': 42, 'email': 'cauho@wit...",True,Online
1,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,"[{'name': 'envelopes', 'tags': ['stationary', ...",Seattle,"{'gender': 'M', 'age': 50, 'email': 'keecade@h...",False,Phone
2,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 51, 'email': 'worbiduh@...",False,In store
3,5bd761dcae323e45a93ccfeb,2015-02-23 09:53:59.343,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'F', 'age': 45, 'email': 'vatires@t...",False,In store
4,5bd761dcae323e45a93ccfec,2017-12-03 18:39:48.253,"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': 40, 'email': 'dotzu@ib....",False,In store
...,...,...,...,...,...,...,...
4995,5bd761deae323e45a93ce36b,2016-01-20 17:29:10.225,"[{'name': 'pens', 'tags': ['writing', 'office'...",Austin,"{'gender': 'F', 'age': 45, 'email': 'du@rum.py...",False,In store
4996,5bd761deae323e45a93ce36c,2014-11-29 10:09:41.573,"[{'name': 'pens', 'tags': ['writing', 'office'...",Denver,"{'gender': 'F', 'age': 47, 'email': 'dup@katje...",False,In store
4997,5bd761deae323e45a93ce36d,2017-12-25 07:02:51.283,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 29, 'email': 'losuhse@e...",False,In store
4998,5bd761deae323e45a93ce36e,2013-12-07 11:06:25.510,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 59, 'email': 'hu@pehabu...",False,Online
4999,5bd761deae323e45a93ce36f,2014-08-18 06:25:49.739,"[{'name': 'envelopes', 'tags': ['stationary', ...",New York,"{'gender': 'M', 'age': 33, 'email': 'lihzodud@...",False,Online

In [ ]:
result=db2.sales.delete_many({"storeLocation":"San Diego"})
result.deleted_count

346

In [ ]:
result=db2.sales.update_many({},{"$inc":{"customer.age":8}})
result.modified_count

4654

In [ ]:
result=db2.sales.update_many({},{"$pull" :{ "items":{"tags":"stationary"}} } )
result.modified_count
#pull prendere
#push mettere

0

4. eliminare tutti i document di clienti che hanno più di 80 anni e meno di 40

In [ ]:
result=db2.sales.delete_many({ "$or": [ {"customer.age" : {"$gt" : 80} }, {"customer.age" : {"$lt" : 40} }]})
result.deleted_count

1010

5. calcolare il prezzo medio degli items

In [ ]:
#unwind toglie i dati da una lista
#avg fa la media
result=db2.sales.aggregate([{"$unwind":"$items" },
                            {"$group":{"_id":"prezzo medio","prezzoMedio":{"$avg":"$items.price"}}}])
df2=pd.DataFrame(list(result))
df2

            _id                          prezzoMedio
0  prezzo medio  172.5072270909555007232196035054880

6. modificare le mail che hanno il dominio .mz in .com

In [ ]:
#regex per selezionare cosa andare a prendere
result=db2.sales.update_many({ "customer.email": { "$regex": "\.mz" } }, # il \ serve ad indicare che i caratteri successivi devono essere considerati come tali
                             [{"$set": { "customer.email" : {"$replaceOne": { "input" : "$email", "find": ".mz", "replacement" : ".com" }}}}])
#set impostiamo qualcosa prendiamo il custom.email rimpiaziamo input specifica il campo dove vuoi cambiare find la cosa da rimpiazzare e replacement la cosa da mettere come sostituto al find
result.modified_count

14

In [ ]:
result=db2.sales.find({"customer.email":{"$regex":"\.mz$"}})#il $ alla fine serve per trovare il carattere solo se si trova alla fine 
df2=pd.DataFrame(list(result))
df2

Empty DataFrame
Columns: []
Index: []

7. modificare il tag 'school' in 'education'

In [ ]:
result = db2.sales.update_many({ "items.tags": { "$regex": "school" } },[                                                                      
                              {"$set": { "items.tags": {"$replaceOne": { "input": "$tags", "find": "school", "replacement": "education" }}}
  }]
)
result.modified_count
#non usare mai il drop perchè cancella tutto

3447

8. aggiungere 7 anni alla data degli ordini

9. trovare il prodotto venduto più costoso

10. eliminare dagli ordini tutti i prodotti "envelopes"

11. copiare la collection "vendite" nella collection "vendite_modificata"

12. eliminare la collection "vendite"