In [ ]:
import pymongo
import pandas as pd

## **Inserimento dati da un altro DataBase**

In [ ]:

client = pymongo.MongoClient(
    "mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.sample_supplies

In [ ]:
df = pd.DataFrame(list(db.sales.find()))
df

In [ ]:
client = pymongo.MongoClient("")
db2 = client.Elsherbini

In [ ]:
db2.vendite.insert_many(df.to_dict('records'))

In [ ]:
df = pd.DataFrame(list(db2.vendite.find()))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod,tags
0,5bd761dcae323e45a93cd065,2091-09-15 00:38:05.412,"[{'name': 'backpack', 'tags': ['school', 'trav...",Denver,"{'gender': 'F', 'age': 44, 'email': 'adkesgor@...",False,Phone,{'0': 'education'}
1,5bd761dcae323e45a93cd107,2092-03-28 17:49:39.547,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 63, 'email': 'hegun@kof...",False,Online,{'0': 'education'}
2,5bd761dcae323e45a93cd0da,2094-04-30 00:10:22.341,"[{'name': 'backpack', 'tags': ['school', 'trav...",Denver,"{'gender': 'M', 'age': 64, 'email': 'erko@osdo...",False,Online,{'0': 'education'}
3,5bd761dcae323e45a93cd001,2094-02-24 17:25:39.353,[],Denver,"{'gender': 'M', 'age': 56, 'email': 'avwa@ud.p...",False,In store,NaN
4,5bd761dcae323e45a93cd015,2094-09-17 01:55:17.109,"[{'name': 'notepad', 'tags': ['office', 'writi...",Seattle,"{'gender': 'M', 'age': 60, 'email': 'apokas@mi...",False,Online,{'0': 'education'}
...,...,...,...,...,...,...,...,...
1222,624d80e1891b6e8125570d7c,NaT,"[{'name': 'laptop', 'price': 1590.9}]",Denver,NaN,NaN,NaN,NaN
1223,624d810d891b6e8125570d7d,NaT,"[{'name': 'macbook', 'price': 1590.9}]",Denver,NaN,NaN,NaN,NaN
1224,624d81ec891b6e8125570d7e,NaT,"[{'name': 'macbook', 'price': 1590.9}]",Denver,NaN,NaN,NaN,NaN
1225,624d81f5891b6e8125570d7f,NaT,"[{'name': 'laptop', 'price': 1590.9}]",Denver,NaN,NaN,NaN,NaN
1226,624d85f3891b6e8125570d80,NaT,"[{'name': 'laptop', 'price': 1590.9}, {'name':...",Denver,NaN,NaN,NaN,NaN

## **Cancellazione dati con Delete**

In [ ]:
result=db2.vendite.delete_many({"storeLocation":"San Diego"})
result.deleted_count

In [ ]:
from bson.objectid import ObjectId
result=db2.vendite.delete_one({"_id" : ObjectId('5bd761dcae323e45a93cd005')}) # per esempio l'id 5bd761dcae323e45a93cd005
result.deleted_count

## **Metodo Increase $inc**

MongoDB manual [link](https://www.mongodb.com/docs/manual/reference/operator/update/inc/)

In [ ]:
result=db2.vendite.update_many({},{"$inc":{"customer.age":8}})
result.modified_count

## **Push e Pull**

MongoDB manual [link](https://www.mongodb.com/docs/manual/reference/operator/update/inc/)

Pull rimuove un valore in un array

In [ ]:
result = db2.vendite.update_many({},{ '$pull': { 'items': { 'tags':  'stationary'}}})
result.modified_count

1227

Push inserice un valore in un array

In [ ]:
result = db2.vendite.update_many({},{ '$push': { 'items': { 'tags':  'stationary'}}})
result.modified_count

1227

In [ ]:
result = db2.vendite.update_many({}, {'$pull': { 'items': {'name': "notepad"}}}) #gggg
result.modified_count

813

## **Avrage e Round**

Calcolare Valore medio in Array di items

In [ ]:
result = db2.vendite.aggregate([{"$unwind" : "$items"},
                    {"$group" :{"_id": "", "avgPrice": { "$avg":  "$items.price"} }}
])
df = pd.DataFrame(list(result))
df

  _id                             avgPrice
0      174.2077009477009478924874766808554

Arrotondare Il valore **Metodo 1:**

In [ ]:
AddField = {'$addFields': {"avgPrice": { "$round": ['$avgPrice', 2] }}} 

result = db2.vendite.aggregate([{"$unwind" : "$items"},
                    {"$group" :{"_id": "", "avgPrice": { "$avg":  "$items.price"} }},
                    AddField
])
df = pd.DataFrame(list(result))
df

  _id avgPrice
0       174.21

Arrotondare Il valore **Metodo 2:**

In [ ]:
project = { '$project': { 'avgPrice': { "$round": ['$avgPrice', 2] }}}

result = db2.vendite.aggregate([{"$unwind" : "$items"},
                    {"$group" :{"_id": "", "avgPrice": { "$avg":  "$items.price"} }},
                    project
])
df = pd.DataFrame(list(result))
df

  _id avgPrice
0       174.21

## **Modificare Con Update in un array**

Modificare valore in un array dentro una lista di array

In [ ]:
result = db2.vendite.update_many(
    { "items.tags": "school" }, 
    { "$set": { "items.$.tags": "education" } } #<- the dollar represents the first matching array key index
    
)
result.modified_count

Modificare il valore direttamente in una lista (non funziona su questi dati)

In [ ]:
result = db2.vendite.update_many(
    { "tags": "school" }, 
    { "$set": { "tags.$": "education" } } #<- the dollar represents the first matching array key index
    
)
result.modified_count

## **Valori Min E Max nel aggregate**

Valore massimo/minimo

In [ ]:
result = db2.vendite.aggregate([{ "$group": {"_id": "","maxAge": {"$max": "$customer.age" }}}])
df = pd.DataFrame(list(result))
df

  _id  maxAge
0          80

Valore massimo/minimo di un array

In [ ]:
result = db2.vendite.aggregate([
    { "$group": {
        "_id": "",
        "maxAge": {
            "$max": "$customer.age"
        },
        "customer_data": {
            "$push": {
                "gender": "$customer.gender",
                "age": "$customer.age",
                "email": "$customer.email",
            }
        }
       }     
    },
    {"$unwind" : "$customer_data"},
    {"$match": {"$expr": {"$eq": [ "$customer_data.age","$maxAge"]}}}])
df = pd.DataFrame(list(result))
df

   _id  maxAge                                      customer_data
0           80  {'gender': 'M', 'age': 80, 'email': 'uhzemu@re...
1           80  {'gender': 'F', 'age': 80, 'email': 'finmotci@...
2           80  {'gender': 'M', 'age': 80, 'email': 'gu@gunagh...
3           80  {'gender': 'F', 'age': 80, 'email': 'vekjic@ka...
4           80  {'gender': 'M', 'age': 80, 'email': 'powkiti@b...
5           80  {'gender': 'M', 'age': 80, 'email': 'kuho@hup....
6           80  {'gender': 'M', 'age': 80, 'email': 'kemucven@...
7           80  {'gender': 'M', 'age': 80, 'email': 'nape@zisi...
8           80  {'gender': 'M', 'age': 80, 'email': 'iculizozi...
9           80  {'gender': 'F', 'age': 80, 'email': 'vorok@tul...
10          80  {'gender': 'M', 'age': 80, 'email': 'riupo@doz...
11          80  {'gender': 'F', 'age': 80, 'email': 'jihgi@wug...
12          80  {'gender': 'M', 'age': 80, 'email': 'juk@mar.ni'}
13          80  {'gender': 'F', 'age': 80, 'email': 'bub@enmer...

valore massimo/minimo di una lista di array

In [ ]:
result = db2.vendite.aggregate([{ "$unwind" :'$items'},
                                {"$group":{"_id":"$items.price", "names":{"$push":"$items.name"}, "count":{"$sum":1}}},
                                {"$sort":{"_id":-1}}, # sort id : 1 per il valore minimo
                                {"$limit":1}])
df = pd.DataFrame(list(result))
df

      _id                                              names  count
0  1590.9  [laptop, macbook, macbook, laptop, laptop, sco...      6